*.gem
*.rbc
/.bundle/
/.config
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/dummy/log/*
/spec/dummy/tmp/*
!/spec/dummy/log/.keep
!/spec/dummy/tmp/.keep
/tmp/
/log/*
!/log/.keep
/.rspec_status

.DS_Store
