<div>
  <%= form.label :value, field.name %>
  <%= render_array_field(
        form: form,
        name: :value,
        value: typed_value.value,
        field_method: :text_field,
        field_opts: {}) %>
</div>
